*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
    height: 100vh ;
    width: 100vw ;
    justify-content: center;
    align-items: center;
}
.btn-pink{
    height: 50px ;
    width: 150px ;
    background-color: #e84948;
    text-align: center;
    padding: 0.8rem;
    font-size: 18px;
    color: white;
    box-shadow: 5px 5px 7px #0000003f;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform:scaleX(0) ;
    transform-origin: left;
    transition: 1s;
    z-index: -1;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
